<%- include("header"); -%>

<h2>This is the about page of nathan burugu the developer behind the web app you are using</h2>
<p>ngfbfdjgbuifdrgbjidfbuidsgf bfbuigbfbgj jfhgaui9fhg uhfgjuhfau9g uichjfvgnsu9g uhdf dns faund sfuydgfgdsfa uydghsfudsfa usdfjb dsfguy uysdghfuhbdsuf uydfgudsh9u8ads uadghsfuhdbasufg u9dshfuidsnfagy ujdsfkmadshfgdf ujgjhfbdsifag </p>
<%- include("footer"); -%>